/*
    BODY
    General style for all pages and elements
*/
body{
    font-family: "Helvetica";
}

/*
    HEADER
    Top bar of the all site pages
*/
header{
    display: flex;
    align-items: center;
    color: #fff;
    background: #333;
    padding: 5px;
}

header img{
    height: 40px;
}

/*
    HOME
    The first page
*/
.logo-home i{
    font-size: 80px;
    color: #ed8f44;
}

.link-quiz, .link-login{
    height: 300px;
    width: 100%;
    background: #ccc;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    border: 4px solid #fff;
}

.link-quiz:hover, .link-login:hover{
    border-color: #ed8f44;
    color: #ed8f44;
}

.link-quiz:hover .background, .link-login:hover .background{
    opacity: .5;
}   

.link-quiz span, .link-login span{
    position: relative;
    color: #fff;
    font-size: 40px;
    z-index: 2;
}

.link-quiz:hover span, .link-login:hover span{
    color: #ed8f44;
}

.link-quiz .background, .link-login .background{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .6;
}

.link-quiz{
    background-image: url(../images/home-game.jpg);
}

.link-login{
    background-image: url(../images/home-login.jpg);
}

/*
    FOOTER
    The last element, present in every page
*/
footer hr{
    background: #fff;
}

footer a{
    color: #fff;
}

footer h5{
    color: #ed8f44;
}

footer a:hover{
    color: #ed8f44;
}

/*
    FORM
    General rules for all forms
*/
form{
    display: block;
    background: #f8f8f8;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    max-width: 100%;
    margin: 30px auto;
}

form h2{
    text-align: center;
}

/*
    ADMIN PAGES
*/
.admin_container form{
    background: transparent;
    border: none;
}

.admin_container{
    display: block;
    background: #f8f8f8;
    border: 1px solid #ccc;
    padding: 20px;
    flex: 1;
    width: 100%;
}

.admin_container .question{
    padding: 10px;
    background: #ddd;
    margin-bottom: 10px;
}

/*
    QUIZ PAGE
    Style relative only for question page
*/
.form_question h2, .form_question h5{
    text-align: center;
}

.form_question .answer{
    display: block;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    position: relative;
}

.form_question .answer:hover{
    background: #ddd;
}

.form_question .answers.correct .answer_select{
    background: #28a745;
    color: #fff;
}

.form_question .answers.wrong .answer_select{
    background: #dc3545;
    color: #fff;
}

/*
    SCROLL TO TOP
*/
.scroll_to_top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #343a40;
    color: #ed8f44;
    border: 2px solid #ed8f44;
    border-radius: 100%;
    cursor: pointer;
    height: 40px;
    width: 40px;
    line-height: 36px;
    text-align: center;
}


/*
    RESPONSIVE
    Hide elements when width is minus than 768px
*/
@media screen and (max-width: 768px) {

    header .menu a span{
        display: none !important;
    }

}