{% include 'header.html' %}

  <div class="container">
    <div class="row">
      <div class="col p-5">
        <div class="text-center">
          <div class="logo-home"><i class="fas fa-gamepad"></i></div>
          <h1>Quiz-game</h1>

          <div class="row">
            <a href="/quiz" class="col link-quiz">
              <span>Play</span>
              <div class="background"></div>
            </a>
            <a href="/login" class="col link-login">
              <span>Login</span>
              <div class="background"></div>
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

{% include 'footer.html' %}