{% include 'header.html' %}

    <form action="#" method="post" class="page_login">

      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
      {% endif %}

      {% if message %}
        <div class="alert alert-info" role="alert">
          {{ message }}
        </div>
      {% endif %}

      <h2>Login</h2>
      <div class="input-group mt-3">
        <input type="text" name="username" class="form-control" placeholder="Username">
      </div>
      <div class="input-group mt-2">
        <input type="password" name="password" class="form-control" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success mt-3 w-100">Login</button>
      <a href="/quiz" class="btn btn-secondary mt-2 w-100">Anonymous user</a>
      <div class="small text-secondary text-center fst-italic mt-2">or</div>
      <a href="/registration" class="btn btn-secondary mt-2 w-100">Registration</a>
    
    </form>

{% include 'footer.html' %}